@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.bg-meal-hero {
  background-image: url("/meal2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-meal-service-hero {
  background-image: url("/hero/hero1.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
